{% extends "template.html" %}


{% block title %}
Check out our amazing pics!!
{% endblock %}

{% block content %}
<div class="container-fluid bg-3 text-center"> 
          <h6>What's Here</h6>
          <div class="row block_adjust">
            <div class="col-sm-3">
                <h6>Giant Clams on the reef at Ned's Beach</h6>
              <img class="img-responsive"  src="static/images/clam_l.jpg" alt="Image">
            </div>
            <div class="col-sm-3">
                <h6>The world's most southern coral reef</h6>
              <img class="img-responsive"  src="static/images/erscotts_l.jpg" alt="Image">
            </div>
            <div class="col-sm-3"> 
                <h6>The Admiralty Islands.</h6>
              <img class="img-responsive"  src="static/images/admiralty_l.jpg" alt="Image">
            </div>
            <div class="col-sm-3">
                <h6>View from North Bay</h6>
                <img class="img-responsive"  src="static/images/main_view_l.jpg" alt="Image">
              </div>
          </div>

        <div class="row block_adjust">
            <div class="col-sm-3">
                <h6>The great comet McNaught seen 2007</h6>
                <img class="img-responsive"  src="static/images/comet_l.jpg" alt="Image">
            
            </div>
            <div class="col-sm-3">
                <h6>Octopus on the reef</h6>
              <img class="img-responsive"  src="static/images/octopus_l.jpg" alt="Image">
             
            </div>
            <div class="col-sm-3"> 
                <h6>Tropic Bird at Malabar Cliffs</h6>
              <img class="img-responsive"  src="static/images/tropic_brid_l.jpg" alt="Image">
              
            </div>
            <div class="col-sm-3">
                <h6>Returning from the Mount Gower walk</h6>
                <img class="img-responsive"  src="static/images/gower_l.jpg" alt="Image">
                
              </div>
          </div>

        </div>
{% endblock %}